body {
  background-color: lightgreen;
}
h1 {
  font-family: eckmannpsych-medium,sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-style: oblique;

}

h3 {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
}

h4 {
  font-family: Helvetica, sans-serif;

}

h5 {
  font-family: Helvetica, sans-serif;
}

h6 {
  font-family: Helvetica, sans-serif;
}

p {
font-family: georgia; serif;
font-weight: 400;
font-style: normal;
}

a {
  font-family: Georgia, serif;
  color: white;
  background-color: green;
  border-radius: 4px;
}
iframe {
  width: 50%;
  height: auto;
}
hr {
  height: 2px;
  background-color: black;
}
li {
  padding: 5px;
}

img {
  border-radius: 8px;
}

iframe {
  height: inherit;
  width: height;
}

@media screen and (min-width 400px) {
  .title {
    background-color: red;
    padding: 20px;
  }
  .soundCloudContent {
  }
  iframe {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width 399px) {

}
