@media screen (max-width: 399px) and (orientation: portrait) {
  .grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
  }
}

@media (orientation: landscape) and (min-width:400px) {
  .grid-container {
    display: grid;
    text-align:left;
    background-color: green;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: auto;
  }
}

  .grid-container {
    display: grid;
    grid-auto-rows: auto;
    background-color: green;
    border-color: black;
  }
  .grid-item {
    border-width: medium;
    border-color: black;
    }
    .placeHolder {
      background-color: lightgreen;
    }
 .img-container {
   overflow: hidden;
   display: block;
 }

 body {
   background-color: lightgreen;
 }

h1 {
  font-family: synthemesc,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: synthemesc, sans-serif;
  font-style: normal;
  font-size: 2rem;
}

iframe {
  width: 50%;
 }

hr {
  height: 2px;
  background-color: black;
}
